/* General Styles */
body, html {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f0f2f5;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  color: white;
  background-color: #081cd1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #555;
}

.get-started-link {
  background-color: #081cd1;
  color: #fff;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.get-started-link:hover {
  background-color: #007bff;
}

/* Dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.header-section img {
  max-width: 50%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.header-section h2 {
  margin-top: 1rem;
}

.header-section p {
  margin-top: 0.5rem;
  margin-bottom: 4.5rem;
}

.get-started-button {
  background-color: #081cd1;
  color: white;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-top: 5.5rem;
}

.get-started-button:hover {
  background-color: #007bff;
}

/* Signup page */
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.image-preview-container {
  margin-top: 1rem;
  text-align: center;
}

.image-preview {
  margin-top: 1rem;
  max-width: 30%;
  height: auto;
  border-radius: 4px;
}

.remove-image-button {
  background-color: #dc3545;
  color: white;
  padding: 0.1rem 0.2rem;
  font-size: 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: fit-content;
}

.remove-image-button:hover {
  background-color: #c82333;
}

button[type="submit"] {
  background-color: #081cd1;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 3.0rem;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 1rem;
}

/* Login page */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.welcome-image {
  width: 500px;
  height: 200px;
  border-radius: 50%;
  margin-top: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.forgot-password {
  text-align: center;
  margin-bottom: 10px;
}

.forgot-password a {
  font-size: 14px;
  color: #081cd1;
}

.login-button {
  padding: 10px;
  background-color: #081cd1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-container .signup-link {
  margin-top: 10px;
}

.login-container .signup-link p {
  font-size: 14px;
  color: #0a0a0a;
}

.login-container .signup-link a {
  color: #0056b3;
  text-decoration: none;
}

.login-container .signup-link a:hover {
  text-decoration: underline;
}

/* Forgot password page */
.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.forgot-password-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.forgot-password-container p {
  margin-bottom: 20px;
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.forgot-password-container button {
  padding: 10px;
  background-color: #081cd1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: #0056b3;
}

/* src/components/Todo.css */
/* Container */
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* User Profile */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 40px;
}

/* Clock */
img {
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 2;
}

.clock {
  position: relative;
  background-color: lightgray;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid darkgray;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.numbers div {
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: lightgoldenrodyellow;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.twelve {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.arrows::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: darkgreen;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.arrows div {
  background-color: white;
  width: 7px;
  position: absolute;
  height: 120px;
  transform-origin: bottom center;
  bottom: 50%;
  z-index: 3;
  border-radius: 50% 50% 0 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}

.arrows .hour {
  height: 65px;
  transform: rotate(30deg);
}

.arrows .second {
  height: 100px;
  transform: rotate(250deg);
  background-color: goldenrod;
}
.arrows .minute {
  height: 90px;
  transform: rotate(250deg);
  
}
/* Headings */
h2 {
  margin: 10px 0;
  margin-top: 110px;
}

h1 {
  margin: 20px 0;
}

/* Tasks */
.tasks {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  background: gray;
  border: solid 2px;
  border-radius: 5px;
}

/* Todo Form */
.TodoForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Center align the form */
}

.form-group {
  display: flex;
  align-items: baseline; /* Stretch items vertically */
}

.todo-input {
  flex: 1; /* Grow to fill remaining space */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.todo-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button[type="submit"] {
  background-color: #081cd1;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 3.0rem;
  font-size: 0.6rem;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust as needed */
  width: 100%;
}

.todo-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todo-text p,
.todo-text input {
    margin: 0;
    padding: 5px; /* Adjust as needed */
    flex-grow: 1; /* Ensures the text/input takes available space */
}

.icon-container {
    display: flex;
    gap: 10px; /* Adjust spacing between icons */
    margin-left: 10px;
    padding-right: 10px;

}

.edit-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.edit-form input {
    flex-grow: 1;
    padding: 5px; /* Adjust as needed */
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .header-section img {
      max-width: 80%;
  }

  .get-started-button {
      margin-top: 3rem;
  }

  .signup-container,
  .login-container,
  .forgot-password-container {
      max-width: 90%;
  }

  .dashboard-container {
      padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .header-section img {
      max-width: 100%;
  }

  .header-section h2 {
      font-size: 1.5rem;
  }

  .header-section p {
      font-size: 0.9rem;
  }

  .get-started-button {
      margin-top: 2.5rem;
  }

  .signup-container,
  .login-container,
  .forgot-password-container {
      padding: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .header-section h2 {
      font-size: 1.2rem;
  }

  .header-section p {
      font-size: 0.8rem;
  }

  .get-started-button {
      margin-top: 2rem;
  }
}
